<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QWNavigationBar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D636C23F218EF97000CC9DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D636C257218EF97100CC9DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D636C262218EF97100CC9DC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
